<h2>形容词</h2>
<p>
  日本形容词的共轭模式。形容词成分。 A1 + NAI。 NAI =“ noexisting”是ARIMASU =存在（无生命）的第一个基础。TAI共轭表。形容词上的其他罐子。
</p>
<p>
  两组特殊的单词已被指定为形容词：i-形容词和 na-形容词。 I-形容词应该代表真正的日语形容词，而na形容词则代表流行名词。这些术语具有误导性，原因有三点。对于一个词，“ i-形容词”一词意味着存在另一组形容词，但只有一组。另一方面，日语中没有“ na-形容词”这样的东西。同样令人误解的是，日语中“ na-形容词”的正式术语是（Keiyou doushi），其直译是“形容词动词”。所有这些术语都具有误导性，因为交际名词既不是形容词也不是动词，而是属于一类特殊的名词，如第7章所述。最后，形容词和交际名词的功能完全不同。仅有的两个重叠的特征是，它们都被副词修饰，并且都修饰了紧随其后的名词，尽管它们有两种截然不同的方式。本章仅涉及真正的形容词。在本语法书中，只要使用“形容词”一词，就表示本章中定义的真正的形容词。形容词可以不带任何附加成分地修饰名词，并且涉及将形容词权简单地放置在名词的前面（切勿使用质点O）（否）以使形容词修饰其后的名词。日本形容词之所以独特，是因为它们像动词一样是共轭的。它们具有动词的特征，可以作为谓词形容词来完成一个句子，而交际名词则不能，尽管这类句子或陈述是用于随意的演讲和技术性写作。换句话说，副词动词DESU向形容词交出动词功能，并成为形容词的礼貌后缀，类似于动词的后缀MASU。在正式的场合中，如果没有正式的结尾，即I：T（desu）= be，此类句子被视为不合适或突然的。在下面的例句（a'），（b'），（c'），（d'），（e'）和（f）中，形容词共轭由罗马字母大写字母表示。每个示例都表明，形容词TAKAI = expensive以a，b，c，d，e和f中的以下方式表示：a。修改名词，然后得到的名词短语将作为对系词DESU的补充。 b。作为对系的补充DESU。 C。不用语系DESU自己完成当前时态肯定句。 d。不用语系DESU自行完成当前时态否定句。 e。不用语系DESU自己完成过去时的肯定句。 F。不用语系DESU自己完成过去时否定句。
</p>
<p>
  日本形容词的共轭模式。现在熟悉的日语形容词有两个部分，TAKAI = expensive。第一个成分是茎，是TAKA。第二个成分是构成性成分，即I。所有日语形容词都有这两个成分，如果没有，则不是真正的日语形容词，而是形容词。就像动词一样，词干保持不变，并且有八个构成词。日语形容词可以表示为：AX = AS + AFX。在上面的公式中，AS表示任何日语形容词的词干，并表示八个形成语中的任何一个：aF1，aF2，aF3，aF4，aF5，aF6，aF_TE和AF_TA。因此，[AS + aF3]创建A3。表8.1所示的形容词变位应使非母语者更好地理解日语系统，因为这八个形成系统适用于所有日语动词（辅音词干动词，元音词干动词，不规则动词，语系动词，形容词）。形容词成分。本节介绍形容词的概念。本节中的后缀组将一个单词或一组内聚的单词转换为形容词。像真正的形容词一样，这些后缀可以完成句子，修饰名词，共轭，因此可以在其他后缀的帮助下进一步转换为其他词性。后缀的作用是添加动词本身无法表达的各种表达方式。这样做不可避免地会改变句子的语法和语义结果。形容词后缀的主要示例是NAI，将在8.3和8.4节中讨论。形容词后缀中的另一个明星是RASHII，下面将进行讨论。
</p>
<p>
  否定形容词的语言后缀NAI是从其最初的词性动词ARIMASU采纳的，它是cV-5r动词。由于ARIMASU是cV-5r动词，因此其第一个基数应为ARA。但是，在现代日语中，此第一种基本形式保留用于尊敬的后缀附件（用于高度尊重的口头表达）和被动语音构造。在JVE公式中，NAI是ARIMASU的第一个基础，用于附加名词性和被动性后缀以外的后缀。第一个基数NAI（na-i）是唯一的，并且与表4.11中观察到的通常的[VS + Fx]模式有所不同。 NAI是唯一真正的负数基数，因为它是ARIMASENN = does / will不存在的直接形式。如第6章中的图2所示，ARIMASENN用作帮助动词，为社交动词表达提供礼貌的否定结尾。对于休闲演讲和技术写作，NAI取代了ARIMASENN。请参阅表8.3中ARIMASU的共轭模式。 TAI是一个期望的后缀，并且遵循形容词共轭。当附加了TAI时，动词的直接宾语成为[V2 + TAI]成分的句法主语。由于语法和语义之间的冲突，这是一种令人困惑的语言现实（请参见5.1.5和5.2节）
</p>
<p>
  A1始终是日语中的转换副词（请参见8.3和8.4节）。同样，形容词的第一个基本形式通常与irV-1x，Voie_TE和Voae_TE形成成分，公式为：[A1 + irV-lx + Suf。]，[A1 + Voie_X + Suf。]，[A1 + Voae_x + Suf。]等。后缀NAI本身就是一个形容词。因此，它遵循表中的共轭模式。例如，NAI的过去式为NNAATTA，因为在上面的结果（a'）至（f'）的表8.1中，KATTA是aF_TA。 NAI也是ARIMASU的V1。因此，它是动词ARIMASENN的直接否定形式，其中MASENN是第二个基本动词的后缀，表示前一个动词的否定，在这种情况下，存在否定：“（S）不存在。 ”我是任何日语连词形容词的现在时肯定形式的形式。 KAROU虽然仍在使用，但已被调制解调器口语中的[A2 + DAROU]代替。 DAROU是副词动词DESU的第六个基数。 KATTA是任何日语连词形容词的过去式肯定形式的形式。</p>
<p>
<p>
  否定形容词的语言后缀NAI是从其最初的词性动词ARIMASU采纳的，它是cV-5r动词。 由于ARIMASU是cV-5r动词，因此其第一个基数应为ARA。 但是，在现代日语中，此第一种基本形式保留用于尊敬的后缀附件（用于高度尊重的口头表达）和被动语音构造。 在JVE公式中，NAI是ARIMASU的第一个基础，用于附加名词性和被动性后缀以外的后缀。 第一个基数NAI是唯一的，并且与表4.11中观察到的常规[VS + Fx]模式有所不同。 NAI是唯一真正的负数基数，因为它是ARIMASENN = does / will不存在的直接形式。 如第6章中的图2所示，ARIMASENN用作帮助动词，为社交动词表达提供了礼貌的否定结尾。 对于休闲演讲和技术写作，NAI取代了ARIMASENN。
</p>

<p>
この本は高い本です。
<br />この本は高いです。
<br />この本は高い。
<br />この本は高くない。
<br />この本は高かった。
<br />この本は高くなかった。
<br />高い本。
<br />高くない本。
<br />高かった本。
<br />高くなかった本。
<br />
<br />書かないでください。
<br />高くない。
<br />書きます。
<br />高すぎます。
<br />書くことができます。
<br />高いです。
<br />書けば、
<br />高ければ、
<br />書け！
<br />高かれ!
<br />書こうと思います。
<br />高かろうと思います。
<br />書いてください。
<br />高くてもいいです。
<br />書いたことがあります。
<br />高かったことがあります。
<br />
<br />高いらしい。
<br />彼は有名らしいです。
<br />高そうな本。
<br />まったくらしいです。
<br />彼は先生らしいです。
<br />先生らしくない人。
<br />行かないらしい。
<br />行くらしい。
<br />行ったらしい。
<br />行かなかったらしい。
<br />彼は日本に行ったらしいです。
<br />
<br />この本は高い。
<br />この本は高くない。
<br />この本は高かった。
<br />この本は高くなかった。
<br />
<br />なくない。
<br />高くない。
<br />なさすぎます。
<br />高すぎます。
<br />ないです。
<br />高いです。
<br />なければ、
<br />高ければ、
<br />なかれ！
<br />高かれ!
<br />なかろうと思います。
<br />高かろうと思います。
<br />なくてもいいです。
<br />高くてもいいです。
<br />なかったことがあります。
<br />高かったことがあります。
<br />
<br />なくない。
<br />ないはずです。
<br />なさすぎます。
<br />ありすぎます。
<br />ないです。
<br />あるかもしれません。
<br />なければ、
<br />あれば、
<br />なかれ！
<br />あれ！
<br />なかろうと思います。
<br />あろうと思います。
<br />なくてもいいです。
<br />あってもいいです。
<br />なかったことがあります。
<br />あったことがあります。
<br />
<br />
<br />ないはずです。
<br />たくない。
<br />ありすぎます。
<br />たすぎます。
<br />あるかもしれません。
<br />たいです。
<br />あれば、
<br />たければ、
<br />あれ！
<br />たかれ！
<br />あろうと思います。
<br />たかろうと思います。
<br />あってもいいです。
<br />たくてもいいです。
<br />あったことがあります。
<br />たかったことがあります。

</p>