<h2>粒子</h2>
<p>
  本章将讨论主格标记GA，宾格标记WO和关系粒子WA。这些粒子在日语动词及其与句法主体（以GA为标记，直接宾语WO（以标记）和主题组成部分（以HA标记））的关系分类中起着重要作用。英语中的语法主体一词具有两个语义成分：1）主体，以及2）指称对象，它可以是主体或语义对象。术语句法直接宾语是直接受主体行为影响的实体，该宾语可以是指称对象，即说话者在说什么。指称是指说话者在谈论句子的其余部分或整个话语时所谈论的话题，通常被称为话题。由于关系粒子t; J：（wa）标记了正在讨论的内容，这可能是代理人或对象，这确实令人困惑。此外，请记住，日语中的无主句是语法上的。 GA，WO和HA在不同类型的日语言语中的功能。混合代词动词/形容词比率简介。权威环境中的HA。
</p>
<p>
彼が殺しました。
<br />彼を殺しました。
<br />彼は殺しました。
<br />
<br />私は車が欲しいです。
<br />車が欲しいです。
<br />車がうるさいです。
<br />
<br />私は車が必要です。
<br />車が必要です。
<br />車がきれいです。
<br />
<br />私は車が見えます。
<br />車が見えます。
<br />
<br />私は車が要ります。
<br />車が要ります。
<br />
<br />私は車が買いたいです。
<br />車が買いたいです。
<br />車が買いたい。
<br />車がうるさいです。
<br />
<br />私は車を買いたいです。
<br />私はこの車が買いたいです。
</p>
